/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Exo:ital,wght@1,300&display=swap');

/* Variables */
:root {
    --clr-red: hsl(2, 100%, 22%);
    --clr-black: hsl(60, 3%, 6%);
    --clr-grey: hsl(0, 0%, 47%);
    --clr-white: #fff;
    --ff-arapey: 'Arapey', sans-serif;
    --ff-Exo: 'Exo', sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
}

/* Global Styles */
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-arapey);
    background: var(--clr-white);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img:not(.nav-logo) {
    width: 100%;
    display: block;
}

h1,
h2,
h3,
h4 {
    text-transform: capitalize;
    font-family: var(--ff-Exo);
    line-height: 1.25;
    margin-bottom: 0.75rem;
    letter-spacing: var(--spacing);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

/* Global Classes */
.btn {
    text-transform: uppercase;
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    font-weight: 700;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: var(--radius);
}

.underline {
    width: 5rem;
    height: 0.25rem;
    margin-bottom: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}

/* sections */
.section {
    padding: 5rem 0;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}

.section-title {
    margin-bottom: 4rem;
    text-align: center;
}

@media screen and (min-width: 992px) {
    .section-center {
    width: 95vw;
    }
}

/* Navbar */
.nav-links {
    display: none;
}

.nav {
    height: 5rem;
    padding: 1rem;
    display: grid;
    align-items: center;
    transition: var(--transition);
    background: var(--clr-red);
}

.nav-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.nav-header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.nav-btn {
    color: var(--clr-black);
    background: transparent;
    border-color: transparent;
    font-size: 2rem;
    cursor: pointer;
    /* justify-content: space-between; */
    justify-self: end;
}

@media screen and (min-width: 768px) {
    .nav {
        background: var(--clr-red);
    }

    .nav-btn {
        display: none;
    }

    .nav-links {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        -moz-column-gap: 2rem;
            column-gap: 2rem;
        justify-self: end;
        font-size: 1.2rem;
    }

    .nav-links a {
        text-transform: capitalize;
        color: var(--clr-black);
        font-weight: bold;
        letter-spacing: var(--spacing);
        transition: var(--transition);
    }

    .nav-links a:hover {
        color: var(--clr-white);
    }

    .nav-center {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }
}

/* fixed navbar */
.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background: var(--clr-grey);
}

.navbar-fixed a {
    color: var(--clr-white);
}

.navbar-fixed a:hover {
    color: var(--clr-black);
}

/* Sidebar */
.sidebar {
    background: var(--clr-red);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: grid;
    /*align-items: center;
    justify-content: center;*/
    place-items: center;
    transition: var(--transition);
    transform: translateX(-100%);
}

.show-sidebar {
    transform: translateX(0);
}

.sidebar-links {
    text-align: center;
}

.sidebar-links a {
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--clr-black);
    transition: var(--transition);
    letter-spacing: var(--spacing);
    display: inline-block;
    margin-bottom: 1.5rem;
}

.sidebar-links a:hover {
    color: var(--clr-white);
}

.sidebar-icons a:hover {
    color: var(--clr-white);
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    width: 20rem;
    /*justify-items: start;*/
}

.social-icon {
    font-size: 1.5rem;
    transition: var(--transition);
    color: var(--clr-black);
    margin: 1em;
}

/*.social-icon:hover {
    color: var(--clr-grey);
}*/

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    background: transparent;
    border: transparent;
    transition: var(--transition);
    cursor: pointer;
    color: var(--clr-black);
}

.close-btn:hover {
    color: var(--clr-white);
}

/* Hero */
.hero {
    background: var(--clr-red);
}

.hero-center {
    min-height: calc(100vh - 5rem);
    display: grid;
    place-items: center;
}

.hero-info h4 {
    color: var(--clr-white);
}

.hero-icons {
    justify-items: end;
}

.hero-btn {
    background: var(--clr-black);
    color: var(--clr-white);
    width: 35%;
}

.hero-btn:hover {
    background: var(--clr-white);
    color: var(--clr-black);
}

.hero-info .social-icons {
    display: grid;
    margin-top: 3rem;
    width: 20rem;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

/*.hero-info .hero-icons {
    /*display: grid;
    grid-template-columns: repeat(2, 180px);*/
    /*display: flex;*/
    /*justify-content: flex-start;*/
    /*margin-left: -110px;*/
/*}*/

.social-icon:hover {
    color: var(--clr-white);
}

.hero-btn {
    margin-top: 1.25rem;
}

@media screen and (min-width: 992px) {
    .hero-center {
    grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 768px) {
	.hero {
		background: linear-gradient(rgba(175, 172, 172, 0.541), rgba(161, 0, 0, 0.384)), url("./images/pc.jpg") center/cover no-repeat;
	}
}

/* About */
.about {
    background: var(--clr-black);
    color: var(--clr-black);
}

.about-info a {
    background: var(--clr-white);
    color: var(--clr-red);
}

.about-info a:hover {
    background: var(--clr-red);
    color: var(--clr-grey);
}

a.hashnode {
    color: var(--clr-red);
    background: none;
}

a.hashnode:hover {
    color: var(--clr-grey);
    background: none;
}

a.studies-link {
    color: var(--clr-red);
    background: none;
}

a.studies-link:hover {
    color: var(--clr-grey);
    background: none;
}

.about-title {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--clr-white);
}

.about-title .underline {
    background: var(--clr-red);
}

.about-info {
    display: grid;
    place-items: center;
}

.about-info p {
    width: 52%;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.5;
    color: var(--clr-white);
}

@media screen and (min-width: 992px) {
    .about-info p {
    font-size: 2rem;
    }
}

/*@media screen and (min-width: 768px) {
    .about {
        background: linear-gradient(hsla(0, 0%, 5%, 0.61), hsla(0, 0%, 47%, 0.767)), url("./images/pc2.jpg") center/cover no-repeat;
    }
}*/

/* Projects */
.projects {
    background: rgb(224, 219, 219);
}

.projects-text {
    width: 85vw;
    max-width: 50rem;
    margin: 0 auto;
    color: var(--clr-black);
    font-size: 1.5rem;
}

.projects-title a {
    color: var(--clr-red);
}

.works {
    color:var(--clr-black);
}

.projects-title .underline{
    background:var(--clr-red);
}

.project {
    position: relative;
    background: var(--clr-red);
    border-radius: var(--radius);
    margin-bottom: 2rem;
    color: var(--clr-white);
}

.project-info {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: var(--transition);
    opacity: 0;
}

.project-info p {
    text-transform: capitalize;
}

.project:hover .project-info {
    opacity: 1;
}

.project-img {
    transition: var(--transition);
    border-radius: var(--radius);
    height: 15rem;
    -o-object-fit: cover;
    object-fit: cover;
}

.project:hover .project-img {
    opacity: 0.1;
}

.project::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--clr-black);
    border-radius: var(--radius);
    transition: var(--transition);
    opacity: 0;
}

.project:hover::after {
    opacity: 1;
    transform: scale(0.8);
}

.position {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 5%;
}

#workarea {
    position: absolute;
    width: 100%;
    height: 100%;
}

.spot {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.svg-wrapper {
    margin-top: 2em;
    position: relative;
    width: 150px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

#shape {
    stroke-width: 6px;
    fill: transparent;
    stroke: var(--clr-red);
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
}

#text {
    margin-top: -35px;
    text-align: center;
}

#text a {
    color: var(--clr-black);
    text-decoration: none;
    font-weight: 100;
    font-size: 1.1em;
}

.svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: var(--clr-red);
}

@media screen and (min-width: 676px) {
    .projects-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        -moz-column-gap: 2rem;
        column-gap: 2rem;
    }
}

@media screen and (min-width: 992px) {
    .projects-center {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1170px) {
    .projects-center {
        grid-template-rows: 200px 200px;
        gap: 1rem;
        grid-template-areas: 
        "a b b"
        "a c d"
        ;
    }

    .project-img {
        height: 100%;
    }

    .project {
        height: 100%;
    }

    .project-1 {
        grid-area: a;
    }

    .project-2 {
        grid-area: b;
    }

    .project-3 {
        grid-area: c;
    }

    .project-4 {
        grid-area: d;
    }
}

/* Skills */
/*@media screen and (min-width: 768px) {
    .skills-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        -moz-column-gap: 2rem;
        column-gap: 2rem;
    }

    .skills {
		background: linear-gradient(rgba(230, 230, 230, 0.541), rgba(17, 6, 6, 0.384)), url("./images/skills.jpg") center/cover no-repeat;
	}
}*/

/*@media screen and (min-width: 768px) {
	.skills {
		background: linear-gradient(rgba(175, 172, 172, 0.541), rgba(161, 0, 0, 0.384)), url("./images/coding.mp4") center/cover no-repeat;
	}
}*/

/*.skills {
    background: var(--clr-grey);
}*/

/*.section-title .underline{
    background:var(--clr-red);
}

.skills h3 {
    margin: 1.5rem 0;
    color: var(--clr-red);
}

.skill {
    margin-bottom: 1.25rem;
}

.skill p {
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    color: var(--clr-red);
}

.skill-container {
    background: var(--clr-white);
    height: 1rem;
    width: 100%;
    border-radius: var(--radius);
    position: relative;
}

.skill-value {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--clr-red);
    height: 100%;
    width: 50%;
    border-radius: var(--radius);
}

.value-70 {
    width: 70%;
}

.value-80 {
    width: 80%;
}

.skill-text {
    position: absolute;
    top: -2rem;
    left: 50%;
    text-transform: translate(-50%);
}

.skill-text-70 {
    left: 70%;
}

.skill-text-80 {
    left: 80%;
}*/

.inner {
    padding-top: 20px;
    background: linear-gradient(rgba(157, 159, 160, 0.856), rgba(157, 159, 160, 0.856)), url("./images/skills.jpg") center/cover no-repeat;
}

.header {
    text-align: center;
    /*color: var(--clr-black);*/
    padding: 1rem;
    position: relative;
    animation: color-change 7s infinite;
}

.header:after {
    content: '';
    position: absolute;
    bottom: 1;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background: var(--clr-black);
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.skill-box {
    padding: 1rem;
    color: var(--clr-black);
    cursor: pointer;
    animation: color-change 7s infinite;
}

.skill-box h3 {
    animation: color-change 7s infinite;
}

/* change the color for the animation */
@keyframes color-change {
    25%{ color: var(--clr-white);}
    50%{color: var(--clr-red);}   
    75%{color: var(--clr-red);}       
}

.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before {
    width: 35px;
}

.skill-box:hover .img {
    transform: translateY(-10px);
}

.skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skill-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    /*border-radius: var(--radius);*/
    background: var(--clr-black);
    transition: .5s;
}

.skill-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    /*border-radius: var(--radius);*/
    background: var(--clr-black);
    transition: .5s;
}

.img {
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: var(--radius);
    background: var(--clr-black);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

/*.img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: var(--radius);
}*/

.skill-title h3 {
    /*color: var(--clr-red);*/
    margin-top: 0.5rem;
}

.skill-icon {
    width: 50px;
    z-index: 1;
}

@media screen and (max-width: 992px) {
    .inner {
        background: var(--clr-grey);
    }

    .skills-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
}

@media screen and (max-width: 676px) {
    .inner {
        background: var(--clr-grey);
    }
    
    .skills-container {
        grid-template-columns: 1fr;
        padding: 2rem 50px;
    }
}

/* Timeline */
.timeline {
    background: rgb(224, 219, 219);
}

.timeline-center {
    width: 80vw;
    max-width: 40rem;
}

.timeline-title {
    color: var(--clr-black);
}

.timeline-title .underline {
    background: var(--clr-red);
}

.timeline-item {
    border-top: 2px dashed var(--clr-black);
    margin: 0;
    padding: 4rem 2rem;
    position: relative;
}

.timeline-item h4 {
    color: var(--clr-red);
}

.timeline-item p {
    color: var(--clr-black);
}

.timeline p {
    margin-bottom: 0;
}

.timeline-item:nth-child(even) {
    border-left: 2px dashed var(--clr-black);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    margin-right: 2rem;
    padding-right: 0;
}

.timeline-item:nth-child(odd) {
    border-right: 2px dashed var(--clr-black);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin-left: 2rem;
    padding-left: 0;
}

.timeline-item:first-child {
    border-top: 0;
    border-top-right-radius: 0;
}

.timeline-item:last-child {
    border-bottom-left-radius: 0;
}

.number {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
    background-color: var(--clr-red);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: var(--clr-white);
    font-weight: 700;
}

.timeline-item:nth-child(even) .number {
    left: 0;
}

.timeline-item:nth-child(odd) .number {
    right: 0;
    transform: translate(50%, -50%);
}

/* Blog */
.blog {
    background: var(--clr-black);
    font-family: var(--ff-Exo);
    /*height: 54rem;*/
}

.blog-title h2 {
    color: var(--clr-red);
}

.blog-title p {
    color: var(--clr-white);
    font-size: 1.3em;
}

.blog-title .underline {
    background: var(--clr-grey);
}

.card {
    height: 27rem;
    position: relative;
    perspective: 1500px;
}

.card-side {
    backface-visibility: hidden;
    transition: all 2s linear;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    transform: translated3d(0, 0, 0);
    visibility: visible;
}

.card-front {
    background: var(--clr-grey);
}

.card-front a {
    margin: 0;
}

/*.card-back {
    background: var(--clr-red);
    transform: rotateY(180deg);
    display: grid;
    place-items: center;
}

.card-back button {
    background: var(--clr-black);
    color: var(--clr-white);
}

.card-back a {
    color: var(--clr-white);
}*/

/*.card:hover .card-front{
    transform: rotateY(-180deg);
}*/

/*.card:hover .card-back{
    transform: rotateY(0);
}*/

.card-info {
    padding: 1rem 1.5rem;
    color:var(--clr-white);
}

.card-info h4 {
    color: var(--clr-red);
}

.card-front img {
    height: 13rem;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card-footer {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.card-footer img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
}

.card-footer p {
    margin-bottom: 0;
    text-transform: uppercase;
    justify-self: end;
    color: var(--clr-red);
    font-size: 0.85rem;
}

/*.card-footer button {
    /*background: var(--clr-black);
    color: var(--clr-white);
}

.card-footer a {
    color: var(--clr-white);
    font-size: 0.8rem;
}*/

.blog-center {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(330px,1fr));
    gap: 3rem 1rem;
}


/* Footer */
.footer {
    padding-bottom: 2rem;
    background: var(--clr-black);
    display: grid;
    place-items: center;
}

.copyright {
    color: var(--clr-white);
}

.footer .social-icons {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.footer .social-icon {
    color: var(--clr-red);
}

.footer .social-icon:hover {
    color: var(--clr-white);
}

.footer p {
    font-size: 1.25rem;
    text-transform: capitalize;
}

/* Products Page */

.projects-hero {
    height: 40vh;
    background: var(--clr-red);
    display: grid;
    place-items: center;
    color: var(--clr-black);
    font-family: var(--ff-Exo);
}

.projects-hero .underline {
    background: var(--clr-black);
}

.projects-hero p {
    color: var(--clr-white);
    font-size: 1.3em;
}

.projects-hero .section-title {
    margin-bottom: 0;
}

.single-project {
    background: var(--clr-red);
    border-radius: 0.5rem;
    font-family: var(--ff-Exo);
    transition: var(--transition);
}

.single-project:hover {
    box-shadow: 0 2px 15px hsl(0, 13%, 6%);
	transform: scale(1.02);
}

.project-container img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.project-container {
    position: relative;
}

.project-icon {
    position: absolute;
    font-size: 1.75rem;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 4rem;
    height: 4rem;
    display: grid;
    place-items: center;
    background: var(--clr-white);
    border-radius: 50%;
    color: var(--clr-black);
    border: 0.375rem solid var(--clr-red);
}

.pro-icons a:hover {
    color: var(--clr-white);
}

.project-details {
    padding: 2rem 1.5rem;
}

.project-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--clr-white);
}

.project-footer a {
    color: var(--clr-white);
    text-transform: capitalize;
    transition: var(--transition);
    justify-self: end;
}

.project-footer a:hover {
    color: var(--clr-black);
}

.projects-page-center {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 3rem 1rem;
}

/* Single Page */
.single-page {
    background: var(--clr-grey);
    /*min-height: calc(100vh - 5rem - 198px);*/
    height: 100vh;
    font-size: 1.2rem;
    font-family: var(--ff-Exo);
    color: var(--clr-black);
}

.contact-title {
    text-align: start;
    width: 70%;
    margin-left: 0.2rem;
}

.contact-title h2 {
    text-align: center;
    margin-bottom: 7rem;
}

.contact-title a {
    text-transform: uppercase;
    color: var(--clr-white);
    transition: var(--transition);
}

.contact-title a:hover {
    color: var(--clr-red);
}

.contact-title .underline {
    background: var(--clr-red);
    margin-top: -5em;
}

.contact-title p, a {
    margin-left: 0.2rem;
    
}

@media only screen and (max-width: 720px) {
    .contact-title h2 {
        margin-top: -2em;
    }

    .contact-title p, a {
        font-size: 0.9em;
        width: 54%;
        margin-left: 0.2rem;
    }
}